.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #9AAE60;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #1a1a1a;
}

.button {
  padding: 5px;
  padding-bottom: 10px;
  background-color: #FFA728;
  color: #1a1a1a;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 100ms;
  margin: 20px;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  width: 300px;
}

.button:hover {
  transform: translateY(-5px);
  background-color: #FFF071;
}

.version-detail {
  font-size: 1rem;
}

h1,
p {
  margin: 10px;
}

h1 {
  font-weight: 500;
  letter-spacing: -3px;
}

footer {
  background-color: #1a1a1a;
  padding: 30px;
  color: #999;
}

footer a {
  color: #FFA728;
}

footer .flag {
  width: 24px;
}
